<header
  class="header hadow-sm p-3"
  [style.margin-left.px]="sidebar.currentWidth"
>
  <div class="container-fluid h-100">
    <div class="d-flex justify-content-between align-items-center h-100 w-100">
      <!-- Parte Izquierda -->
      <div class="d-flex align-items-center gap-3">
        <button
          class="btn btn-outline-secondary btn-toggle-sidebar btn-sm"
          (click)="toggleMobileMenu()"
        >
          <i class="fas fa-bars"></i>
        </button>  
        <xng-breadcrumb class="d-none d-md-block"></xng-breadcrumb>
      </div>
      <div class="d-flex align-items-center gap-1"> 
        <span class="font-weight-thin font-size-base d-none d-lg-inline me-2">Empresa :</span>
        <img
          src="{{this.fotoEmpresa}}"
          class="logo-icon"
        />
        <span>{{this.nombreFantasia}}</span>
      </div>
      <!-- Parte Derecha (Botones alineados a la derecha) -->
      <div class="d-flex align-items-center gap-3">
        <button
          class="btn btn-outline-secondary btn-sm"
          (click)="themeService.toggleTheme()"
        >
          <i
            class="fas"
            [class.fa-sun]="themeService.currentTheme() === 'light'"
            [class.fa-moon]="themeService.currentTheme() === 'dark'"
          ></i>
        </button>

        <div class="topbar">
          <div class="topbar-item">
            <div
              class="btn btn-icon btn-hover-transparent-white btn-icon-mobile w-md-auto d-flex align-items-center btn-lg px-2"
              id="kt_quick_user_toggle_full"
              (click)="user.toggleVerPerfilUser()"
            >
              <div class="text-right">
                <div>
                  <span
                    class="font-weight-thin font-size-base d-none d-lg-inline me-2"
                    >Hola,</span
                  >
                  <span
                    class="font-weight-bolder font-size-base d-none d-lg-inline me-3"
                    >{{
                      this.authService.getUsuarioState.nombreUsuario | titlecase
                    }}</span
                  >
                </div>
                <div>
                  <span
                    class="font-weight-thin font-size-base d-none d-lg-inline me-3"
                  >
                    {{ this.authService.getUsuarioState.rol| titlecase }}</span
                  >
                </div>
              </div>
              <div class="symbol symbol-circle">
                <div
                    class="symbol-label"
                    style="
                      background-image: url('{{this.fotoUsuario}}');
                    "
                  ></div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<app-user #user></app-user>
