.profile-details-section {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center
  }
  
  .symbol.symbol-xl-90 .symbol-label {
    width: 90px;
    height: 90px;
  }
  
  span.icon i {
    color: #006ab4;
  }
  

.texto-user-data{
  font-variant: all-small-caps; 
}