<!-- sidebar.component.html -->
<aside
  class="sidebar"
  [class.collapsed]="this.isCollapsed()"
  [class.show]="this.isMobileMenuOpen()"
>
  <div class="sidebar-content">
    <!-- Logo y Toggle -->
    <div class="sidebar-header p-3">
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="assets/images/logo.png"
          class="logo-icon"
          *ngIf="this.isCollapsed()"
        />
        <img
          src="assets/images/logo2.jpg"
          class="logo-full"
          *ngIf="!this.isCollapsed()"
        />
        <button
          class="btn btn-outline-secondary btn-toggle btn-sm"
          (click)="this.toggleCollapse()"
        >
          <i class="fas fa-bars"></i>
        </button>
        <button
          class="btn btn-outline-secondary btn-close-aside btn-sm hide"
          (click)="this.toggleMobileMenu()"
        >
          <i class="fas fa-close"></i>
        </button>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="dropdown">
        <a href="#">
          <i class="me-3 fa-solid fa-gauge"></i>
          <span *ngIf="!isCollapsed()">Dashboard</span>
        </a>
        <ul>
          <!-- Estructura Organizativa -->
          <li class="dropdown">
            <a routerLink="inicio">
              <i class="fad fa-home"></i>
              <span *ngIf="!isCollapsed()">Inicio</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- Iteramos menú -->
      <ng-container *ngFor="let item of menuItems">
        <li class="dropdown">
          <a href="#">
            <i class="me-3" [class]="item.icono"></i>
            <span *ngIf="!isCollapsed()">{{
              item.descripcion
            }}</span>
          </a>

          <!-- Submenús anidados -->
          <ul>
            <li *ngFor="let child of item.hijos" class="dropdown">
              <a
                href="#"
                (click)="child.hijos ? toggleTree(child.id, $event) : null"
                [class.has-hijos]="child.hijos" class="nav-link-side"
              >
                <i [class]="child.icono"></i>
                <span class="menu-text" >{{ child.descripcion }}</span>
                <i
                  *ngIf="child.hijos && !isCollapsed()"
                  class="fas float-end"
                  [class.fa-chevron-down]="!isSubmenuOpen(child.id)"
                  [class.fa-chevron-up]="isSubmenuOpen(child.id)"
                ></i>
              </a>

              <!-- Procesos -->
              <ul
                class="submenu"
                [class.show]="isSubmenuOpen(child.id) && !isCollapsed()"
                *ngIf="child.hijos"
              >
                <li *ngFor="let subChild of child.hijos">
                  <a href="#" routerLink="{{ subChild.ruta }}" class="nav-link-side">
                    <i [class]="subChild.icono"></i>
                    <span>{{ subChild.descripcion }}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</aside>
