.sidebar {
  width: var(--sidebar-width);
  left: 0;
  height: 100vh;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1000;
  background: var(--bs-app-header-base-bg-color);
  box-shadow: 0 1px 3px 0 var(--sidebar-shadow), 0 1px 2px 0 var(--sidebar-shadow-two); 

  .sidebar-header {
    border-bottom: 1px solid var(--bs-border-color);
    height: 70px;
  }

  &.collapsed {
    width: var(--sidebar-collapsed-width);

    .logo-full {
      display: none;
    }
    .nav-menu a {
      justify-content: center;
    }
    .menu-text {
      opacity: 0;
      width: 0;
      margin-left: 0;
      float: right;
    }

    .btn-toggle {
      transform: rotate(180deg);
    }

    .nav-link-side:hover .menu-text {
      opacity: 1;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
      margin-left: 1rem;
      box-shadow: 2px 2px 5px var(--sidebar-shadow);
    }
  }
}

.logo-icon {
  width: 25px;
}

.logo-full {
  width: 150px;
  transition: opacity 0.3s ease;
}

.btn-toggle {
  border: none;
  transition: all 0.3s ease;
}

.btn-close-aside {
  border: none;
  display: none;
  transition: all 0.3s ease;
  padding: 0.2rem;
}

.sidebar .sidebar-menu {
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 10px;
  list-style: none;
}
.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out 0.1s;
}

.submenu.show {
  max-height: 1000px;
  opacity: 1;
}

.fa-chevron-down {
  transition: transform 0.3s ease;
}

.fa-chevron-down.rotated {
  transform: rotate(180deg);
}

.sidebar .sidebar-menu .sub-menu {
  opacity: 0;
  display: none;
}

.sidebar .sidebar-menu > li {
  padding: 2px 15px; 
}
.sidebar .sidebar-menu > li > a i { 
  color: var(--sidebarheadingcolor);
}

 

.sidebar .sidebar-menu > li > a {
  font-weight: 600;
  pointer-events: none;
  font-size: 12px;
  text-transform: uppercase; 
  box-shadow: 0 1px 3px 0 var(--sidebar-shadow), 0 1px 2px 0 var(--sidebar-shadow-two); 
  border-radius: 6px;
  display: block;
  padding: 10px;
  margin: 5px 0px 10px 0px;
  color: var(--sidebarheadingcolor);
}

.sidebar .sidebar-menu > li > a:after {
  display: none;
}

.sidebar .sidebar-menu > li ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar .sidebar-menu > li ul li {
  padding: 3px 10px;
}

.sidebar .sidebar-menu > li ul li i {
  margin-right: 5px;
}

.sidebar .sidebar-menu > li ul li a {
  color: var(--sidebarcolor);
  display: block;
  font-weight: 500;
  font-size: 12px;
}

.sidebar .sidebar-menu > li ul li a:hover {
  color: var(--bs-link-hover-color);
}
.sidebar .sidebar-menu > li ul li a:hover i {
  color: var(--bs-link-hover-color);
}

.sidebar .sidebar-menu > li ul li a i {
  font-weight: 700;
  right: 0px;
}

.sidebar .sidebar-menu > li ul li.dropdown > a {
  position: relative;
}

.sidebar .sidebar-menu > li ul li.active > a:after {
  transform: rotate(90deg);
}

.sidebar .sidebar-menu > li ul li.active > .sub-menu {
  opacity: 1;
  display: block;
}

.sidebar .sidebar-menu > li ul li .sub-menu {
  padding-left: 28px;
}

.sidebar .sidebar-menu > li ul li .sub-menu a {
  font-weight: 500;
}

.sidebar .sidebar-menu > li ul li .sub-menu i {
  display: none;
}

.sidebar .sidebar-menu > li ul li .sub-menu .sub-menu {
  padding-left: 10px;
}

.sidebar .sidebar-menu > li ul li .sub-menu .sub-menu a {
  font-weight: 400;
}

.sidebar .breadcrumb {
  display: none;
}

.text-menu {
  color: rgb(78, 84, 170);
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -280px;
    z-index: 1000;
  }

  .sidebar.show {
    left: 0;
    //width: 280px;
  }

  .btn-toggle {
    display: none;
  }

  .sidebar.show .btn-close-aside {
    display: block;
  }
}
