<div class="modal-header">
  <h4 class="modal-title">{{ isEdit ? "Editar" : "Nueva" }} Categoria</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismiss()"
  ></button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8 mb-3">
        <label for="categorias" class="form-label">Categoria</label>
        <input
          #categoriaInput
          type="text"
          class="form-control"
          id="categorias"
          formControlName="categorias"
          maxlength="100"
          (change)="revisaExiste()"
          [class.is-invalid]="
            form.get('categorias')?.invalid && form.get('categorias')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="
            form.get('categorias')?.invalid && form.get('categorias')?.touched
          "
        >
          El nombre de la abreviado es requerido
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="abreviado" class="form-label">Abreviado</label>
        <input
          type="text"
          class="form-control"
          id="abreviado"
          formControlName="abreviado"
          maxlength="10"
          [class.is-invalid]="
            form.get('abreviado')?.invalid && form.get('abreviado')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="
            form.get('abreviado')?.invalid && form.get('abreviado')?.touched
          "
        >
          La abreviado es requerida
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">
      Cancelar
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loading || form.invalid"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-1"
        role="status"
        aria-hidden="true"
      ></span>
      {{ isEdit ? "Actualizar" : "Crear" }}
    </button>
  </div>
</form>
