<div class="modal-header">
  <h4 class="modal-title">{{ isEdit ? "Editar" : "Nueva" }} Agrupación de riesgo</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label for="codAgrupador" class="form-label">Código</label>
        <input
          #agrupacionRiesgoInput
          type="text"
          class="form-control"
          id="codAgrupador"
          formControlName="codAgrupador"
          maxlength="5"
          (change)="revisaExiste($event)"
          [class.is-invalid]="
            form.get('codAgrupador')?.invalid &&
            form.get('codAgrupador')?.touched
          "
        />
        <div class="invalid-feedback">El código es requerido</div>
      </div>

      <div class="col-md-9 mb-3">
        <label for="agrupador" class="form-label">Descripción</label>
        <input
          type="text"
          class="form-control"
          id="agrupador"
          formControlName="agrupador"
          maxlength="100"
          [class.is-invalid]="
            form.get('agrupador')?.invalid &&
            form.get('agrupador')?.touched
          "
        />
        <div class="invalid-feedback">
          La Descripción es requerido
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">
    Cancelar
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="onSubmit()"
    [disabled]="form.invalid || loading"
  >
    <span
      *ngIf="loading"
      class="spinner-border spinner-border-sm me-1"
      role="status"
      aria-hidden="true"
    ></span>
    {{ isEdit ? "Actualizar" : "Guardar" }}
  </button>
</div>
