<div class="modal-header">
  <h5 class="modal-title">
    {{ isEdit ? "Editar" : "Nueva" }} Modalidad de Actividad
  </h5>
  <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label for="codModalidad" class="form-label">Código</label>
        <input
          type="text"
          class="form-control"
          id="codModalidad"
          formControlName="codModalidad"
          [readonly]="isEdit"
          #codModalidadInput
          maxlength="5"
          (blur)="revisaExiste($event)"
          [class.is-invalid]="
            form.get('codModalidad')?.invalid &&
            form.get('codModalidad')?.touched"
        />
        <div class="invalid-feedback">El código es requerido</div>
      </div>
      <div class="col-md-9 mb-3">
        <label for="modalidad" class="form-label">Descripción</label>
        <input
          type="text"
          class="form-control"
          id="modalidad"
          formControlName="modalidad"
          [class.is-invalid]="
            form.get('modalidad')?.invalid &&
            form.get('modalidad')?.touched"
        />
        <div class="invalid-feedback">
          La descripción es requerido
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Cancelar
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid || loading"
    >
      <span
        class="spinner-border spinner-border-sm me-1"
        role="status"
        aria-hidden="true"
        *ngIf="loading"
      ></span>
      Guardar
    </button>
  </div>
</form>
